title {
    display: block;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
body {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
}
